.back{
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url('../../assets/360_F_34293634_cUgxYvxzMQrfG5EfYjsz9SmbnfFyR2et.jpg')
    no-repeat;  
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 230vh;
}
.logo {
    transition: all 0.3s; 
    height: 700px; 
    width: auto;
} 

.logo:hover {
    transform: scale(1.1);
} 
