/* BotonLogout.module.css */

.buttonContainer {
  margin-left: 20px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;  /* Tamaño reducido */
  height: 40px;  /* Tamaño reducido */
  border: none;
  border-radius: 20px;  /* Ajuste de radio */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(29, 185, 84);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 14px;  /* Tamaño reducido */
}

.sign svg path {
  fill: black;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 0.8em;  /* Tamaño reducido */
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 100px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 5px;
}

/* button click effect */
.Btn:active {
  transform: translate(2px, 2px);
}
